<div class="container py-5 blogs">
  <h4>Judul Articel</h4>
  <p class="written-by pb-1">Hafizhuddin Wafi</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure praesentium minus laborum? Vero ut velit harum? Dicta nisi quos labore ab ratione, totam doloremque, nesciunt numquam, architecto adipisci ipsa. Reprehenderit.</p>
  <p class="written-at pt-1">31 Maret 2019</p>
</div>