<section class="home-container">
  <div class="container text-center">
    <h3 class="title-tagline">Start Reading Trusted Articles</h3>
    <p class="tagline">You Can Read And Write Your Own Writing</p>
  </div>
</section>

<section class="write-container">
  <div class="container text-center">
    <h3 class="write-tagline">Let's to Write</h3>
    <p class="write-tag">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sint dolore veniam illo voluptatibus sit quis, labore accusamus voluptas accusantium eaque? Sapiente dolore beatae, repudiandae dolorum mollitia eligendi officiis. Quam?</p>
  </div>
</section>

<section class="read-container">
  <div class="container text-center">
    <h3 class="write-tagline">Let's to Read</h3>
    <p class="write-tag">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sint dolore veniam illo voluptatibus sit quis, labore accusamus voluptas accusantium eaque? Sapiente dolore beatae, repudiandae dolorum mollitia eligendi officiis. Quam?</p>
  </div>
</section>

